@import '../scss/partials/icons.scss';
@import '../scss/partials/common.scss';
@import '../scss/partials/header.scss';
@import '../scss/partials/footer.scss';
@import '../scss/partials/login.scss';
@import '../scss/partials/form.scss';
@import '../scss/partials/buttons.scss';
